<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.mybatis.mapper.TuserMapper">
<!--查询所有用户-->
    <select id="getAll" resultType="com.etc.mybatis.entity.Tuser">
        select * from tuser
    </select>

    <!--查询某个用户信息    resultType="com.etc.mybatis.entity.Tuser"  返回值的类型是哪一个对象-->
    <select id="getOne" resultType="com.etc.mybatis.entity.Tuser">
        select * from tuser where tuserid = (#{0})
    </select>

    <insert  id="addTuser">
        insert into tuser (uname,age)values (#{0},#{1})
    </insert>

    <delete id="deleTuser">
        delete from tuser where  uname = (#{0})
    </delete>

    <update id="updateTuser">
        update tuser set age = (#{1}) where uname = (#{0})
    </update>

</mapper>